# conda create -n sft_env python=3.10
# conda activate sft_env
torch==2.8.0
transformers==4.56.2
trl==0.23.0
datasets==4.1.1
pandas==2.3.2
python-dotenv==1.1.1
peft==0.15.2
matplotlib==3.10.1
weave==0.52.8
